@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header, 
.main,
.footer {
    background-color: #1F2937;
    color: white;
}

.header {
    padding: 16px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 24px;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 8px;
    font-size: 18px;
}

.header a {
    color: #E5E7EB;
    text-decoration: none;
}

.main {
    padding: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main img {
    width: 250px;
    height: auto;
}

.main h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.main p {
    font-size: 18px;
    color: #E5E7EB;
    width: 80%;
}

.main-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sign-up-button {
    background-color: #3882F6;
    width: 20%;
    color: white;
    padding: 8px 16px;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 14px;
}

