@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header, 
.main,
.footer {
    background-color: #1F2937;
    color: white;
}

.header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 24px;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 8px;
    font-size: 18px;
}

.header a {
    color: #E5E7EB;
    text-decoration: none;
}